PORT=8000
NODE_ENV=development
BASE_PATH=/api/v1

DATABASE_URL="mongodb+srv://......."
CORS_ORIGIN="http://localhost:3000"

JWT_ACCESS_SECRET="jwt_secret_key"
JWT_ACCESS_TTL="15"
JWT_REFRESH_SECRET="jwt_secret_key"
JWT_REFRESH_TTL="30"
COOKIE_SECURE="false"

RESEND_API_KEY=""
MAILER_SENDER="sender@example.com"
MAILER_TEST_RECEIVER="test@example.com"
